* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-task {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-lista {
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    gap: 5px;
    font-size: 20px;
}

i {
    margin-left: 20px;
    color: red;
}

img {
    height: 500px;
}